.title-header {
    font-size: 70px;
    color: #C0AFD8;
    text-align: center;
}

.Container {
    display: flex;
    flex-direction: row;
}

.paragraph-header {
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: whitesmoke;
    padding: auto;
    min-height: 10em;
    display: table-cell;
    vertical-align: baseline;
    float: left;
}

.will-pic {
    border-radius: 30%;
    width: 25%;
    height: 100%;
    opacity: 90%;
    align-items: 'right';
    box-shadow: 0 0 15px 15px #ab8bd9;
    float: right;


}

/* ["2A3144","6D599C","7B7893","121B24","C0AFD8"] */