.main-header-menu {
    background-color: #121B24;
    color: whitesmoke;
}

.main-header-menu.nav-link.active { 
    background-color: #121B24; 
    color: whitesmoke;
}

.main-header-menu .nav-link {
    color: whitesmoke;
}