* {
    margin: 5px 5px;
}
.side-by-side {
    display: flex;
    flex-direction: row;
}

.slide {
    max-width: 50rem;
    max-height: 60rem;
    min-width: 50rem;
    min-height: 60rem;
}

.side-by-side img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 10px 10px;
    padding: 2px 2px;
    align-items: center;
}